<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss} [%logger{0}:%L] [%level] - %msg%n%ex{short}</pattern>
        </encoder>
    </appender>

    <!-- Enable Beagle output in Eclipse -->
    <!-- <consolePlugin/> -->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
